@page "/allproducts"

@using P05Sklep.Shared
@using P07Blazor.Client.Services.ProductService
@inject IProductService ProductService

<h3>AllProducts</h3>

@if (ProductService.Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
	<table>
		@foreach (var p in ProductService.Products)
		{
			<tr>
				<td>@p.Title</td>
				<td>@p.Description</td>
				<td style="width:20px"><img src="@p.ImageUrl"></td>
			</tr>
		}
	</table>
}

@code {


	protected override async Task OnInitializedAsync()
	{
		//var products = (await ProductService.GetProducts()).Data;
		 await ProductService.GetProducts();
	}

}
